<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-left">Copyright © Event Organizer 2020</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/KavindhyaB"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="mailto:bandaramki@gmail.com?subject = Feedback "><i class="fab fa-google"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/kavindhya-bandara-90974a169"><i class="fab fa-linkedin-in"></i></a>
            </div>
            {{! <div class="col-lg-4 text-lg-right">
                <a class="mr-3" href="#!">Privacy Policy</a>
                <a href="#!">Terms of Use</a>
            </div> }}
        </div>
    </div>
</footer>